telethon
aiohttp
motor 
heroku3
pillow
dnspython
pymongo
aiofiles
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
lyricsgenius
psutil
py-tgcalls
pykeyboard
pyrogram
python-dotenv
pyyaml==5.3.1
requests
speedtest-cli
spotipy
tgcrypto
wget
youtube-search
youtube-search-python
yt-dlp
